<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>SMB Comany LLC. PayMe Invoicing</title>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= yield %>
</body>
</html>